@using HouseManager.Common
@using HouseManager.Web.ViewModels.Addresses
@using HouseManager.Web.ViewModels.Users

@model IEnumerable<AddressViewModel>;
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
     <div>@User.Identity.Name</div>
     @if (User.Identity.Name != null)
     {
         //var addres = Model.FirstOrDefault(x => x.AddressId == int.Parse(Context.Request.Cookies["CurrentAddressId"]));
         var addres = Model.FirstOrDefault();

     <h3>@addres.CityName @addres.DistrictName @addres.StreetName @addres.Number @addres?.Entrance </h3>

     }

</div>

<a asp-controller="Home" asp-action="Test" asp-route-id="1" >Test44</a>

