@using HouseManager.Common
@using HouseManager.Web.ViewModels.Addresses
@using HouseManager.Web.ViewModels.Users

@model IEnumerable<AddressViewModel>;
@{
    this.ViewData["Title"] = "Home Page";
}

<div>

    @if (User.Identity.Name != null)
    {
    <div>
        <div>@User.Identity.Name</div>

        @foreach (var address in Model)
        {
            <div class="col-md-3">
                <a asp-route-id="@address.AddressId" class="btn btn-outline-primary mb-2">
                    @address.CityName @address?.DistrictName
                    @address?.StreetName @address.Number @address?.Entrance
                </a>
            </div>
        }

    </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    }

</div>

<a asp-controller="Home" asp-action="Test" asp-route-id="1" class="btn" >Test44</a>

