@using HouseManager.Common

@model HomeViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

<div>

    @if (User.Identity.Name != null)
    {
        var currentAddress = Model.CurrntAddress;

    <div class="row">
        @if (Model.UsersAddresses.Count() > 1)
        {
            <aside class="col-md-2 border-dark">
                <h3 class="text-center"> Моите имоти</h3>
                @foreach (var address in Model.UsersAddresses)
                {
                    <a asp-controller="Home" asp-action="SetCurrentAddress" asp-route-id="@address.Id" class="btn btn-outline-primary mb-2">
                        @address.CityName @address?.DistrictName
                        @address?.StreetName @address.Number @address?.Entrance
                    </a>
                }
            </aside>
        }
    <div class="col-md-10 border-danger">
        <h3 class="text-center">
            @currentAddress.CityName @currentAddress?.DistrictName
            @currentAddress?.StreetName @currentAddress.Number @currentAddress?.Entrance
        </h3>

    </div>
    </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Етажна собственост</h1>
            <h3>Най-добрата платформа за управление на етажната собственост</h3>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    }

</div>
