@model AddIncomeFormModel

@{
    ViewData["Title"] = "Плащане на задължения";
}

<div class="container-scroller">
    <div class="container-scroller mt-3">
        <div class="card col-lg-6 mx-auto form-style">
            <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Плащане на задължения</h3>
                <form asp-controller="Income" asp-action="AddIncome" method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="number" asp-for="PropertyId" value="@Model.PropertyId" hidden />
                    @if (decimal.Parse(Model.RegularIncome) > 0)
                    {
                        <div class="form-group">
                            <label asp-for="RegularIncome" class="h5"> Задължения за общи части</label>
                            <input type="text" step="any" asp-for="RegularIncome" value="@Model.RegularIncome" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.RegularIncomeDate" class="h5">Дата:</label>
                            <input asp-for="@Model.RegularIncomeDate" type="date" class="form-control" />
                        </div>
                    }

                    @if (decimal.Parse(Model.NotRegularIncome) > 0)
                    {
                        <div class="form-group">
                            <label asp-for="NotRegularIncome" class="h5">Задължения за ремонт</label>
                            <input type="text" step="any" asp-for="NotRegularIncome" value="@Model.NotRegularIncome" class="form-control" />
                            <span asp-validation-for="NotRegularIncome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NotRegularIncomeDate" class="h5">Дата:</label>
                            <input type="date" asp-for="NotRegularIncomeDate" class="form-control" />
                            <span asp-validation-for="NotRegularIncomeDate" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="Resident" class="h5">Платил</label>
                        <select asp-for="Resident" asp-items="@Model.Residents" class="form-control"></select>
                    </div>
                    <hr />
                    <div class="text-center d-flex justify-content-around">
                        <button type="submit" class="btn btn-primary">Плащане</button>
                        <a class="btn btn-danger" asp-area="" asp-controller="DueAmount" asp-action="MonthAmount">Отказ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
