@using HouseManager.Web.ViewModels.Incomes;

@model AddIncomeViewModel

@{
    ViewData["Title"] = "Month Income";
}

<div class="row h-100  d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-controller="Income" asp-action="AddIncome" method="post">
            <h4 class="text-center">Плащане на задължения</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="number" asp-for="PropertyId" value="@Model.PropertyId" hidden />
            @if (decimal.Parse(Model.RegularIncome) > 0)
            {
                <div class="form-group">
                    <label asp-for="RegularIncome" class="h5"> Задължения за общи части</label>
                    <input type="text" step="any" asp-for="RegularIncome" value="@Model.RegularIncome" class="form-control" />
                    @*<span asp-validation-for="Input.UserName" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="@Model.RegularIncomeDate" class="h5">Дата:</label>
                    <input asp-for="@Model.RegularIncomeDate" type="date" class="form-control" />
                    @*<span asp-validation-for="Input.FirsName" class="text-danger"></span>*@
                </div>
            }

            @if (decimal.Parse(Model.NotRegularIncome) > 0)
            {
                <div class="form-group">
                    <label asp-for="NotRegularIncome" class="h5">Задължения за ремонт</label>
                    <input type="text" step="any"  asp-for="NotRegularIncome"  value="@Model.NotRegularIncome" class="form-control" />
                    <span asp-validation-for="NotRegularIncome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NotRegularIncomeDate" class="h5">Дата:</label>
                    <input type="date" asp-for="NotRegularIncomeDate"class="form-control" />
                    <span asp-validation-for="NotRegularIncomeDate" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Resident" class="h5">Платил</label>
                <select asp-for="Resident" asp-items="@Model.Residents" class="form-control"></select>
            </div>
            <hr />
            <div class="text-center d-flex justify-content-around">
                <button type="submit" class="btn btn-primary">Плащане</button>
                <a class="btn btn-danger" asp-area="" asp-controller="DueAmount" asp-action="MonthAmount" asp-route-id=@Context.Request.Cookies["CurrentAddressId"]>Отказ</a>
            </div>
        </form>
    </div>
 </div>
