@model AllIncomesViewModel

@{
    this.ViewData["Title"] = "Справка плащания";
}
<h2 class="text-center mt-4 mb-4">Справка за плащания</h2>


<form method="get" class="mb-3  form-style pb-2 pt-3">
    <div class="row d-flex justify-content-around text-primary">
        <div class="form-inline">
            <label asp-for="PropertyId" class="mr-2">Имот:</label>
            <select asp-for="PropertyId" asp-items="@Model.Properties" class="select2-container">
            </select>
        </div>

        <div>
            <label asp-for="StartDate">Начална дата:</label>
            <input asp-for="StartDate" type="date" />
        </div>

        <div>
            <label asp-for="EndDate">Крайна дата:</label>
            <input asp-for="EndDate" type="date" />
        </div>
        <div>
            <input type="submit" value="Филтрирай" class="btn-primary" />
        </div>
    </div>
    @if (Model.Paging.MaxPages > 1)
    {
        <div class="mt-2">
            <partial name="_PageButtonPartial" model="Model.Paging" />
        </div>
    }
</form>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="table-responsive">
        <div class="table-responsive mdi-margin">
            <table class="table table-striped table-bordered table-hover">
                <thead class="text-center text-primary border-top form-style">
                    <tr>
                        <th>Идентификатор</th>
                        <th>Платена сума</th>
                        <th>Дата</th>
                        <th>Вид Плащане</th>
                        <th>Платил</th>
                        @if (ViewBag.isUserMakeChanges)
                        {
                            <th></th>
                        }

                    </tr>
                </thead>
                <tbody class="form-style">
                    @foreach (var income in Model.IncomeList)
                    {
                    <tr>
                        <td>@income.PropertyName</td>
                        <td class="text-center">@income.Price лв.</td>
                        <td class="text-center">@income.Date.ToShortDateString()</td>
                        <td class="text-center">@income.IncomeName</td>
                        @if (income.ResidentFullName == "N/A")
                        {
                            if (ViewBag.isUserMakeChanges)
                            {
                                <td class="text-center">
                                    <a asp-area="" asp-controller="User" asp-action="AddToProperty" asp-route-id="@income.Id" class="btn btn-outline-primary">Добави платил</a>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">"Не е въведен"</td>
                            }
                        }
                        else
                        {
                            <td class="text-center">@income.ResidentFullName</td>
                        }
                        @if (ViewBag.isUserMakeChanges)
                        {
                            <td class="text-center d-fle justify-content-sm-between">
                                <a asp-area="Statistics" asp-controller="Income" asp-action="Edit" asp-route-id="@income.Id" class="btn btn-outline-warning mr-2">Редактирай</a>
                                <a asp-area="Statistics" asp-controller="Income" asp-action="Delete" asp-route-id="@income.Id" class="btn btn-outline-danger">Изтрий</a>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*@if (Model.MaxPages > 1)
    {
        <partial name="_PagePartial" model="new PagingModel()
        {
            CurrentPage = Model.CurrentPage,
            MaxPages = Model.MaxPages,
        }" />
    }*@
</div>
